/* This file is for your main application css. */

@import "../../deps/phoenix_live_view/assets/css/live_view.css";
@import "./phoenix.css";

.container{
  margin: 0 auto;
  max-width: 120.0rem;
  padding: 0 2.0rem;
  position: relative;
  width: 100%
}

.page-head {
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
  background: #eee;
  border-radius: 6px;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-bottom: 3rem;
  font-weight: 200;
  font-size: 120%;
}

table th.sortable {
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    background-position: center right;
    background-repeat: no-repeat;
    cursor: pointer;
    white-space: normal;
    padding: 4px 20px 4px 4px;
}
